body {
    background-color: green;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

button {
    font-size: 25px;
}

.newGame {
    display: block;
    margin: 0 auto;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cards {
    height: 208px;
    margin: 30px 0;
}

.hitMe{
    margin-right: 10px;
}

.stop {
    margin-left: 10px;
}

img {
    max-width: 150px;
    padding: 0;
    margin: 0;
}

.score {
    margin: 3px 0;
    height: 57px;
}

.player{
    border: 2px solid red;
    width: 50%;
}

.bot {
    border: 2px solid purple;
    width: 50%;
}

.scores {
    display: flex;
    justify-content: space-evenly;
}